*.o
*.sym
*.map
*.cmd
*.su
*.dtb
*.tmp
.config
*.lex.c
*.tab.*
*.bin
*.srec
*.pyc
.binman_stamp
.config.old
.mconf-cfg
*.configs
asm-offsets.s
lib.a
httpd-fsdata.c
generated
dt.dtb.S
u-boot.cfg
*.patch
/uboot*/include/config
/uboot*/u-boot.lds
/uboot*/u-boot
.vscode
/mkgpt/*.bin
/mkgpt/*.img
/mkgpt/bin
/mkgpt/gpttable
__pycache__
output/*
output_gpt/*
output_simg/*
output_ramboot/*
mt798x_gpt_bin/*
mt798x_simg/*
unopen/*
atf_cfg/*
migration_configs/*
migration_dts/*
migration*.py
